body{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.jMWIczcbBz1ZHf4Z-7Wj3wHaE0&pid=Api&P=0&w=264&h=173)
}
.container {
  text-align: center;
}

.my_nav_bar
{
position: sticky;
top: 0px;
z-index: 99999;
width: 100%;
}
.text {
color: red;
background-color: azure;
}




